 * {
  margin: 0;
  padding: 0;
  box-sizing: 0;
  list-style: none;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Heebo', sans-serif;
}

:root{
  --bg-color: #000000;
  --primary-color: #31E1F7;
}

body{
  background-color: var(--bg-color);
  color: var(--primary-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 1rem;
}

h1{
  font-size: 6rem;
}

h3{
  font-size: 3rem;
}

.mensagem{
  font-size: 1.5rem;
}

.box{
  border: 2px solid var(--primary-color);
  display: inline-block;
  font-size: 3rem;
  padding: 10px 25px;
  margin: 25pxpx;
}